body {
  background-color: #eeeeee;
}

$logoWidth: 373px;
$logoHeight: 60px;

.App {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;

  .TxLogoWrapper {
    margin: 0 auto;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: $logoWidth;
    height: $logoHeight;
    left: calc(50% - #{$logoWidth/2});
    top: 250px;

    &.loading {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.2);
      transition: visibility 200ms, opacity 200ms linear, transform 800ms;
    }
  }
}

.Search {
  &.MoveUp {
    top: 10%;
  }
}
