@import "../../common/styles/colors";
@import "../../common/styles/font";

.StackEntry {
  border-top: 1px solid darken(#232931, 2);

  .StackEntryHeadingWrapper {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #232931;
    transition: 0.1s;

    .StackEntryHeading {
      display: flex;
      align-items: center;

      .TraceMessage {
        font-size: $FontSize200;
        font-weight: 500;
      }

      .PointIcon {
        margin-top: 1px;
        margin-right: 15px;
        font-size: $FontSize100;
        opacity: 0.8;
      }

      &.TraceMessageVariant0 {
        color: #fff;
      }

      &.TraceMessageVariant1 {
        color: #fdb44b;
      }

      &.TraceMessageVariant2 {
        color: lighten(#448ef6, 3);
      }

      &.TraceMessageVariant3 {
        color: lighten(#a06ee1, 3);
      }
    }
  }
}