// Typography

$DefaultTextColor: #fff;


// Color Palette

$PrimaryColor600: #df0074;

$SecondaryColor600: #00cebb;

$TertiaryColor600: #8700FF;

$RedColor600: #dd2142;

$GreenColor600: #0ad054;

$YellowColor600: #ffb81f;

$WhiteColor: #ffffff;
$BlackColor: #000000;

// Borders
$BorderColor: transparentize($WhiteColor, 0.85);