$MonospaceFontFamily: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$SansSerifFontFamily: 'Source Sans Pro', sans-serif;

$FontSize100: 0.8rem;
$FontSize200: 0.9rem;
$FontSize300: 1rem;
$FontSize400: 1.2rem;
$FontSize500: 1.4rem;
$FontSize600: 1.6rem;
