.CallStack {
  border-radius: 5px;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  animation: moveIn 0.7s ease-in-out forwards;
}

@keyframes moveIn {
  from {
    top: 100%;
  }
  to {
    top: 200px;
  }
}